*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif, arial;
	font-size: 16px;
	background: skyblue;
}
.contenedor{
	width: 1000px;
	margin: 20px auto;
}

header{
	background: #C0E7D8;
	font-family: sans-serif, ;
}
header h1{
	width: 100%;
	margin: 20px;
	text-align: center;
	overflow: hidden;
	color: #1C5078;
}

header nav{
	width: 100%;
}

header nav ul{
	width: 100%;
	overflow: hidden;
}

header nav ul li{
	float: left;
	list-style: none;
}

header nav ul li a{
	text-decoration: none; /*elimina decoraciones*/
	display: inline-block; /*muestra en forma d ebloque*/
	padding: 15px 20px;
	color: #450D18;
}
header nav ul li a:hover{
	background: #265E79;
	color: #9FD4D5;
}

.main{
	width: 680px;
	background:#96B9DC;
	float: left; /*flotar a la izquierda*/
}
 .main .imagen{
 	width: 100%;
 }
 .main .imagen img{
 	width: 100%;
 }

 .main .post{
 	padding: 40px;

 }

 .main .post h2{
 	color: blue;
 	margin-bottom: 20px;
 }

 .main .post p{
 	color: blue;
 	line-height: 27px;
 	margin-bottom: 20px;
 	text-align: justify;S
 }

 aside{
 	width: 280px;
 	padding: 20px;
 	background: #589F8E;
 	color: #0B2946;
 	overflow: hidden;
 }
 aside .widget{
 	margin-bottom: 20px;
 }
 aside .widget h2{
 	border-bottom: 1px solid #0B1A53;
 	color: white;
 	margin-bottom: 10px;
 }
 aside .widget ul{
 	list-style: none;
 }
 aside .widget ul li{
 	border-bottom: 1px solid #911E2C;
 	padding: 10px 0px;
 }
 aside .widget ul li a{
 	text-decoration: none;
 	color: #163992;
 	display:inline-block ;
 }
 aside .widget ul li a:hover{
 	background: #9CD0E1;
 	color: white;
 }
 aside .widget p{
 	line-height: 27px;
 	text-align: justify;
 }
 footer{
 	width:600px ;
 	padding:40px ;
 	background:#117899 ;
 	color: black ;
 	overflow: hidden;
 }